<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/variaveis.css">
    <link rel="stylesheet" href="../css/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div class="content-img">
            <img src="../img/svg/image.svg" class="bg-flex">
        </div>
        <div class="container-form">
            <p class="subtitle">Bem vindo de volta</p>
            <h1 class="title">Faça login na sua conta</h1>

            <div class="form">
                <label for="" class="subtitle">E-mail</label>
                <input type="text" placeholder="codelandia@gmail.com">
            </div>
            <div class="form">
                <label for="" class="subtitle">Senha</label>
                <input type="password" placeholder="*********">
            </div>
            <div class="form-line">
                <div>
                    <input type="checkbox" id="check">
                    <label for="check" class="link">Lembre de mim </label>
                </div>
                <div>
                    <a href="" class="link">Esqueceu sua senha? </a>
                </div>
            </div>
            <div class="container-btn">
                <div>
                    <button class="btn-green">Entrar</button>
                </div>
                <div>
                    <button class="btn-google"><img src="../img/Logotipe-Google.png"> Ou faça login com o Google </button>
                </div>
            </div>

            <p class="subtitle-cad">Não tem uma conta? <a href="">Cadastre-se</a></p>
        </div>
        
    </main>
</body>
</html>